/build
/dist
/vectorvault/__pycache__
/vectorvault/ask_any_website copy.ipynb 
setup.py
/vector_vault.egg-info
/tests
/agi
examples/.DS_Store
.DS_Store
package-lock.json
package.json
/my stuff
/unit-testing
/testing
*.pyc
