Flask
google-cloud-storage
gunicorn
google-auth

my_package/
├── my_package/
│   ├── __init__.py
│   ├── module1.py
│   ├── module2.py
│   ├── ...
├── setup.py
├── README.md
├── LICENSE
└── .gitignore
